version: "3.8"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: order_product
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 5396
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
